.u-section-1 .u-sheet-1 {min-height: 491px}
.u-section-1 .u-group-1 {width: 700px; min-height: 427px; height: auto; margin: 20px auto 44px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {font-size: 3rem; font-weight: 700; margin: 0 auto}
.u-section-1 .u-form-1 {width: 570px; margin: 90px auto 0} 

@media (max-width: 767px){ .u-section-1 .u-group-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-form-1 {width: 520px; margin-left: -10px; margin-right: -10px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {font-size: 2.25rem}
.u-section-1 .u-form-1 {width: 320px; margin-top: 115px}
.u-section-1 .u-form-group-1 {width: 100%}
.u-section-1 .u-form-group-2 {width: 100%}
.u-section-1 .u-form-group-3 {width: 100%} }